[submodule "auto-pairs"]
	path = _vim/pack/vendor/start/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs.git
	ignore = dirty
[submodule "commentary"]
	path = _vim/pack/vendor/start/commentary
	url = https://github.com/tpope/vim-commentary.git
	ignore = dirty
[submodule "indentline"]
	path = _vim/pack/vendor/start/indenline
	url = https://github.com/Yggdroot/indentLine.git
	ignore = dirty
[submodule "statline"]
	path = _vim/pack/vendor/start/statline
	url = https://github.com/millermedeiros/vim-statline.git
	ignore = dirty
[submodule "changes"]
	path = _vim/pack/vendor/start/changes
	url = https://github.com/chrisbra/changesPlugin.git
	ignore = dirty
[submodule "tasklist"]
	path = _vim/pack/vendor/start/tasklist
	url = https://github.com/vim-scripts/TaskList.vim.git
	ignore = dirty
[submodule "plexer"]
	path = _vim/pack/vendor/start/plexer
	url = https://github.com/alfredodeza/plexer.vim.git
	ignore = dirty
[submodule "nrrwrgn"]
	path = _vim/pack/vendor/start/nrrwrgn
	url = https://github.com/chrisbra/NrrwRgn.git
	ignore = dirty
[submodule "xml"]
	path = _vim/pack/vendor/start/xml
	url = https://github.com/othree/xml.vim.git
	ignore = dirty
[submodule "surround"]
	path = _vim/pack/vendor/start/surround
	url = https://github.com/tpope/vim-surround.git
	ignore = dirty
[submodule "colorizer"]
	path = _vim/pack/vendor/start/colorizer
	url = https://github.com/chrisbra/Colorizer.git
	ignore = dirty
[submodule "taglist"]
	path = _vim/pack/vendor/start/taglist
	url = https://github.com/vim-scripts/taglist.vim.git
	ignore = dirty
[submodule "native-sidebar"]
	path = _vim/pack/vendor/start/native-sidebar
	url = https://github.com/pablopunk/native-sidebar.vim.git
	ignore = dirty
[submodule "better-find"]
	path = _vim/pack/vendor/start/better-find
	url = https://github.com/pablopunk/better-find.vim.git
	ignore = dirty
[submodule "better-grep"]
	path = _vim/pack/vendor/start/better-grep
	url = https://github.com/pablopunk/better-grep.vim.git
	ignore = dirty
[submodule "minimap"]
	path = _vim/pack/vendor/start/minimap
	url = https://github.com/severin-lemaignan/vim-minimap.git
	ignore = dirty
[submodule "ultisnips"]
	path = _vim/pack/vendor/start/ultisnips
	url = https://github.com/SirVer/ultisnips.git
	ignore = dirty
[submodule "snippets"]
	path = _vim/pack/vendor/start/snippets
	url = https://github.com/honza/vim-snippets.git
	ignore = dirty
[submodule "syntastic"]
	path = _vim/pack/vendor/start/syntastic
	url = https://github.com/vim-syntastic/syntastic.git
	ignore = dirty
