[submodule "_vim/bundle/auto-pairs"]
	path = _vim/bundle/auto-pairs
	url = git://github.com/jiangmiao/auto-pairs.git
	ignore = dirty
[submodule "_vim/bundle/snipmate"]
	path = _vim/bundle/snipmate
	url = git://github.com/msanders/snipmate.vim.git
	ignore = dirty
[submodule "_vim/bundle/commentary"]
	path = _vim/bundle/commentary
	url = git://github.com/tpope/vim-commentary.git
	ignore = dirty
[submodule "_vim/bundle/minibufexpl"]
	path = _vim/bundle/minibufexpl
	url = git://github.com/fholgado/minibufexpl.vim.git
	ignore = dirty
